# Data Science Tools and Ecosystem

## Introduction

In this notebook, we will summarize the key data science tools and ecosystem that are commonly used in the field of data science. We will provide an overview of various tools, libraries, and frameworks that are essential for data scientists to effectively perform tasks such as data analysis, machine learning, and data visualization. This summary will serve as a reference guide for data science practitioners to explore and leverage the wide range of tools available in the data science ecosystem.

# Objectives:

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Provide examples of evaluating arithmetic expressions in Python
- Demonstrate converting minutes to hours in Python
- Present a table of Data Science tools

## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. Seaborn
9. Plotly
10. XGBoost

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio            |
| VSCode             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Mohammed Rahmouni Hassani